* { padding:0; margin:0;}
#BODYWrap { width:595px; padding-left:10px; margin:0 auto; font:12px Verdana, Arial, Helvetica, sans-serif;}

.wrap a { outline:none;}
.wrap h2 { font-size:24px; color:#00693e; font-weight:normal; padding-bottom:10px; margin-top:-3px;}
.wrap h2 sup { line-height:normal;}
.wrap h2 sup { font-size:58%;}
.wrap h3 sup { font-size:12px;}
.wrap ul { list-style:none; margin:0; padding:0;}

.entry h3 span, .goods_list .top { background:url(http://www.scotch-brite.com/3MContentRetrievalAPI/BlobServlet?assetId=1258559456949&assetType=MMM_Image&blobAttribute=ImageFile) no-repeat;}
.entry h3 { background:url(http://www.scotch-brite.com/3MContentRetrievalAPI/BlobServlet?assetId=1258559456949&assetType=MMM_Image&blobAttribute=ImageFile) no-repeat right top;}
.entry .btm, .goods_list .btm { height:15px; overflow:hidden; font-size:0; background:url(http://www.scotch-brite.com/3MContentRetrievalAPI/BlobServlet?assetId=1258559456961&assetType=MMM_Image&blobAttribute=ImageFile) no-repeat left bottom;}
.entry .btm div { background:url(http://www.scotch-brite.com/3MContentRetrievalAPI/BlobServlet?assetId=1258559456961&assetType=MMM_Image&blobAttribute=ImageFile) no-repeat right bottom;}
.wtb { background:url(http://www.scotch-brite.com/3MContentRetrievalAPI/BlobServlet?assetId=1180614753307&assetType=MMM_Image&blobAttribute=ImageFile) no-repeat;}
.goods { background:url(http://solutions.3m.com.au/3MContentRetrievalAPI/BlobServlet?locale=en_WW&lmd=1239914034000&assetId=1180612123287&assetType=MMM_Image&blobAttribute=ImageFile) no-repeat left bottom;}

.entries { overflow:hidden; height:1%;}
.entries .entry { width:290px; padding:0 5px 10px 0; float:left; margin:0;}
.entry h3 { font-size:18px; line-height:18px; text-align:center; font-family:Verdana, Geneva, sans-serif; color:#00693e; margin:0; padding-right:10px;}
.entry h3 span { display:block; height:100%; padding:8px 0 10px 10px; width:270px; overflow:hidden;}
.entry h3 a { color:#00693e; text-decoration:none;}
.entry h3 a:hover { text-decoration:underline;}
.entry .btm { padding-left:10px;}
.entry .btm div { height:100%;}
.entry .infos { padding:10px 5px; overflow:hidden; height:1%; border:1px solid #afeb79; border-width:0 1px;}
.thum_lk { display:block; width:100px; float:left; text-align:center;}
.thum_lk img { border:none;}
.infos .short_desc { float:right; width:168px; line-height:normal;}

.goods_list .top { height:25px;}
.goods_list dl { padding:10px; border:1px solid #afeb79; border-width:0 1px;}
.goods_list dd { padding:10px 0 20px; border-top:1px solid #afeb79; overflow:hidden; height:1%; margin:0;}
.goods_list .thum_lk { margin-right:10px;}
.goods_list h3 { padding-bottom:5px;}
.goods_list h3 a { text-decoration:none; color:#00693e;}
.goods_list h3 a:active { color:#f60;}
.goods_list h3 a:visited { color:#909;}
.goods_list h3 a:hover { text-decoration:underline; color:#00693e;}
.goods_list .short_desc { padding-bottom:15px;}
.wtb { display:block; float:left; width:104px; height:23px; text-indent:-9999px;}
.goods_list li, .goods li {  list-style:disc; margin:0 0 0 12px; padding:2px 0;}

.goods { border-bottom:1px solid #008000; padding-bottom:80px; border:none;}
.goods h3 { font-size:18px; color:#008000; font-weight:normal; padding-bottom:10px;}
.goods h3 a { color:#008000;}
.goods .desc { padding-bottom:10px;}
.goods .thum { padding-top:15px; text-align:center;}
.goods .thum img { margin:0 10px;}