html,body,
ul,ol,li,dl,dt,dd,
h1,h2,h3,h4,h5,h6,
form,input,blockquote,fieldset,pre,
div,p,span,label,em,strong { margin:0; padding:0;}
body { background:#FFFFFF; font:normal 12px/20px Arial, Verdana, Lucida, Helvetica, simsun, sans-serif; color:#313131; padding:100px;}
ul { list-style:none;}
a { text-decoration:none;}


.huanying { width:468px; height:208px; position:relative; overflow:hidden;}
	.huanying h2 { height:27px; line-height:27px; background:url(images/pic.png) no-repeat; font-size:13px; color:#193b5f; padding:0 11px;}
	.huanying .content { border:1px solid #CCDFF2; border-top-width:0; width:466px; height:180px;}

	.movList { padding:10px 8px;}
		.movList ul { overflow:hidden; padding-left:8px; position:absolute; width:432px;}
		.movList ul#ul_hp_0 { left:10px;}
		.movList ul#ul_hp_1, .movList ul#ul_hp_2 { left:500px;}
		.movList ul li { float:left; width:92px; margin:0 8px;}
			
			/* ----- 封面 ----- */
			.movList ul li a.playpic { display:block; width:92px; height:127px; color:#fff; text-align:right; margin-bottom:3px; position:relative;}
			.movList ul li a.playpic img { padding:2px; border:1px solid #eae4d1;}
			.movList ul li a.playpic em { display:none;}
			.movList ul li a.playpic:hover em { display:block; width:31px; height:31px; background:url(images/pic.png) no-repeat -95px -28px; position:absolute; top:48px; left:30.5px;}
			/* ----- 集数 ----- */
			.movList ul li a.playpic span { display:block; width:86px; height:15px; line-height:15px; position:absolute; left:3px; bottom:3px;}
			.movList ul li a.playpic span.bg { background:url(images/pic.png) no-repeat -130px -28px;}
			
			/* ----- 标题和简短描述 ----- */
			.movList ul li p { width:100px; height:17px; line-height:17px; text-align:center; overflow:hidden;}
			.movList ul li p.mov-title { width:82px; padding-right:10px; position:relative;}
			.movList ul li p.mov-title a { color:#016a9f;}
			.movList ul li p.mov-title a:hover { text-decoration:underline;}
			.movList ul li p.mov-title a.playMov { display:block; position:absolute; width:16px; height:16px; right:0; top:0; background:url(images/pic.png) no-repeat -240px -28px;}


.list-pager { width:75px; height:18px; position:absolute; top:4px; right:11px;}
	.list-pager a { display:block; text-indent:-9999px;}
	/* ----- page-num ----- */
	.pager-num { width:33px; height:18px; float:left; overflow:hidden;}
		.pager-num a { height:6px; width:6px; background:url(images/pic.png) no-repeat -80px -28px; float:left; margin:6px 5px 0 0; overflow:hidden;}
		.pager-num a:hover { background-position:-80px -38px;}
		/* ----- selected ----- */
		.currentNum { background:url(images/pic.png) no-repeat -80px -38px!important;}
	
	/* ----- prev next ----- */
	.pager-op { float:right; width:36px; overflow:hidden;}
		.pager-op a { height:18px; width:18px; background:url(images/pic.png) no-repeat;}
		.pager-op a.page-up { float:left; background-position:-40px -28px;}
		.pager-op a.page-up:hover { background-position:0 -28px;}
		.pager-op a.page-down { float:right; background-position:-17px -28px;}
		.pager-op a.page-down:hover { background-position:-57px -28px;}